<div class="wrap-container">

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>Leap bird</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/leap-bird/leap_motion2_400x300.jpg" alt="Photo Leap bird">
        <mat-card-content>
            <p>Мини-игра "Leap bird"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/leap-bird" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

</div>