mat-toolbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.header-title {
    height: 256px; //256px 330px
    text-align: center;
    margin-top: 112px; //112px 56px
    padding: 36px;
    background: #20202a; //#9c27b0;
}

.menu-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
