<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/">
      <span>MaxiProgram</span>
    </a>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button matTooltip="Выбор темы" [matMenuTriggerFor]="menuTheme">
      <mat-icon>format_color_fill</mat-icon>
      <mat-menu #menuTheme>
        <button mat-menu-item>Тёмная</button>
        <button mat-menu-item>Светлая</button>
      </mat-menu>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="header-title">
  <h1>MaxiProgram</h1>
  <h2>Разработка приложений</h2>
</div>
