<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>

    <a mat-button routerLink="/">
      <span>MaxiProgram</span>
    </a>

    <span style="flex: 1 1 auto;"></span>    

    <button mat-icon-button matTooltip="Выбор темы" [matMenuTriggerFor]="menuTheme">
      <mat-icon>format_color_fill</mat-icon>
      <mat-menu #menuTheme>
        <button mat-menu-item>Тёмная</button>
        <button mat-menu-item>Светлая</button>
      </mat-menu>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <a mat-button routerLink="/about">
        <span>Обо мне</span>
      </a>
      <a mat-button routerLink="/">
        <span>Услуги</span>
      </a>
      <a mat-button routerLink="/">
        <span>Проекты</span>
      </a>
      <a mat-button routerLink="/">
        <span>Контакты</span>
      </a>
      <a mat-button routerLink="/">
        <span>Помощь сайту</span>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div class="header-title">
  <h1>MaxiProgram</h1>
  <h2>Разработка приложений</h2>
</div>
