<div class="footer">

    <ul class="footer-links">
        <li>
            <!-- <button mat-icon-button matTooltip="Gmail">
                <a href="mailto:maxiprogram@gmail.com" target="_blank">
                    <mat-icon svgIcon="google" color="black"></mat-icon>
                </a>
            </button> -->
            <a href="mailto:maxiprogram@gmail.com">
                <mat-icon svgIcon="google" style="color: white; transform: scale(1.5); margin: 10px;"></mat-icon>
            </a>
        </li>
        <li>
            <!-- <button mat-icon-button matTooltip="GitHub">
                <a href="https://github.com/maxiprogram" target="_blank">
                    <mat-icon svgIcon="github" color="black"></mat-icon>
                </a>
            </button> -->
            <a href="https://github.com/maxiprogram" target="_blank">
                <mat-icon svgIcon="github" style="color: white; transform: scale(1.5);  margin: 10px;"></mat-icon>
            </a>
        </li>
        <li>
            <!-- <button mat-icon-button matTooltip="Telegram">
                <a href="https://t.me/maxiprogram" target="_blank">
                    <mat-icon svgIcon="telegram" color="black"></mat-icon>
                </a>
            </button> -->
            <a href="https://t.me/maxiprogram" target="_blank">
                <mat-icon svgIcon="telegram" style="color: white; transform: scale(1.5);  margin: 10px;"></mat-icon>
            </a>
        </li>
    </ul>
        

    <div class="footer-copyright">
        © 2025 by MaxiProgram
    </div>

</div>
