<div #idScriptsRecaptcha></div>

<div *ngIf="isViewForm">
    
    <div [formGroup]="formMailMessage" class="contact-page">
        <mat-form-field>
            <mat-label>Ваше Имя:</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="formMailMessage.get('username')?.status === 'INVALID'">Не должно быть пустым!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Тема:</mat-label>
            <input matInput formControlName="subject">
            <mat-error *ngIf="formMailMessage.get('subject')?.status === 'INVALID'">Не должно быть пустым!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Ваш Email:</mat-label>
            <input matInput formControlName="from">
            <mat-error *ngIf="formMailMessage.get('from')?.status === 'INVALID'">
                {{formMailMessage.get('from')?.errors?.['required'] ? 'Не должно быть пустым!' : 'Не является Email адресом!' }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Сообщение:</mat-label>
            <textarea matInput cols="40" rows="10" formControlName="textMessage"></textarea>
            <mat-error *ngIf="formMailMessage.get('textMessage')?.status === 'INVALID'">Не должно быть пустым!</mat-error>
        </mat-form-field>

        <input id="id-response-token" type="hidden" formControlName="responseToken" (customchange)="onSustomChange($event)" (customreset)="onSustomReset($event)">
        <mat-error *ngIf="formMailMessage.get('responseToken')?.status === 'INVALID'">Пройдите проверку!</mat-error>

        <div class="g-recaptcha" data-sitekey="6LeNyREnAAAAADW1wL2uBRgxXojuKjTqi2ywWaSR" data-callback="callBackRecaptcha" data-expired-callback="callBackResetRecaptcha"></div>    

    </div>

    <p></p>

    <button style="float: right;" [disabled]="!formMailMessage.valid" mat-raised-button color="accent" (click)="sendMail()">Отправить</button>

</div>

<div *ngIf="!isViewForm">
    <h1>OK SEND MAIL THANK YOU</h1>
</div>
