<div class="contact-page">
    
    <p>contact-page works!</p>

    <mat-form-field class="contact-name">
        <mat-label>Ваше Имя:</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Тема:</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Ваш Email:</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Сообщение:</mat-label>
        <textarea matInput cols="40" rows="10"></textarea>
    </mat-form-field>

    <div class="g-recaptcha" data-sitekey="6LeNyREnAAAAADW1wL2uBRgxXojuKjTqi2ywWaSR"></div>    
</div>

<p></p>

<button mat-raised-button color="accent" (click)="sendMail()">Отправить</button>