<div #idScriptsRecaptcha></div>

<div *ngIf="isViewForm">
    
    <div [formGroup]="formMailMessage" class="contact-page">
        <mat-form-field>
            <mat-label>
                {{languageService.getLanguage() === 'ru' ? 'Ваше Имя:' : 'Your name:'}}
            </mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="formMailMessage.get('username')?.status === 'INVALID'">
                {{languageService.getLanguage() === 'ru' ? 'Не должно быть пустым!' : 'Should not be empty!'}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                {{languageService.getLanguage() === 'ru' ? 'Тема:' : 'Subject:'}}
            </mat-label>
            <input matInput formControlName="subject">
            <mat-error *ngIf="formMailMessage.get('subject')?.status === 'INVALID'">
                {{languageService.getLanguage() === 'ru' ? 'Не должно быть пустым!' : 'Should not be empty!'}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                {{languageService.getLanguage() === 'ru' ? 'Ваш Email:' : 'Your Email:'}}
            </mat-label>
            <input matInput formControlName="from">
            <mat-error *ngIf="formMailMessage.get('from')?.status === 'INVALID'">
                {{formMailMessage.get('from')?.errors?.['required'] ? (languageService.getLanguage() === 'ru' ? 'Не должно быть пустым!' : 'Should not be empty!') : (languageService.getLanguage() === 'ru' ? 'Не является Email адресом!' : 'This is not an email address!') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                {{languageService.getLanguage() === 'ru' ? 'Сообщение:' : 'Message:'}}
            </mat-label>
            <textarea matInput cols="40" rows="10" formControlName="textMessage"></textarea>
            <mat-error *ngIf="formMailMessage.get('textMessage')?.status === 'INVALID'">
                {{languageService.getLanguage() === 'ru' ? 'Не должно быть пустым!' : 'Should not be empty!'}}
            </mat-error>
        </mat-form-field>

        <input id="id-response-token" type="hidden" formControlName="responseToken" (customchange)="onSustomChange($event)" (customreset)="onSustomReset($event)">
        <mat-error *ngIf="formMailMessage.get('responseToken')?.status === 'INVALID'">
            {{languageService.getLanguage() === 'ru' ? 'Пройдите проверку!' : 'Take the test!'}}
        </mat-error>

        <div class="g-recaptcha" data-sitekey="6LfrmlgrAAAAAK9cwsFm8AevlV2zTJ_VZyNMiASR" data-callback="callBackRecaptcha" data-expired-callback="callBackResetRecaptcha"></div>    

    </div>

    <p></p>

    <button style="float: right;" [disabled]="!formMailMessage.valid" mat-raised-button color="accent" (click)="sendMail()">
        {{languageService.getLanguage() === 'ru' ? 'Отправить' : 'Send'}}
    </button>

</div>

<div *ngIf="!isViewForm" style="text-align: center;">
    <h1 class="accent-text">
        {{languageService.getLanguage() === 'ru' ? 'Письмо успешно отправлено!' : 'Letter sent successfully!'}}
    </h1>
    <h1>
        {{languageService.getLanguage() === 'ru' ? 'Спасибо за обратную связь!' : 'Thanks for your feedback!'}}
    </h1>
</div>
