<mat-tab-group dynamicHeight="true">
    <mat-tab label="{{languageService.getLanguage() === 'ru' ? 'Все проекты' : 'All projects'}}">
        <ng-template matTabContent>
            <app-all-project></app-all-project>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{languageService.getLanguage() === 'ru' ? 'Приложения' : 'Applications'}}">
        <ng-template matTabContent>
            <app-software-project></app-software-project>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{languageService.getLanguage() === 'ru' ? 'Мобильные' : 'Mobile applications'}}">
        <ng-template matTabContent>
            <app-mobile-project></app-mobile-project>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{languageService.getLanguage() === 'ru' ? 'Мелкие игры' : 'Mini video games'}}">
        <ng-template matTabContent>
            <app-game-project></app-game-project>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{languageService.getLanguage() === 'ru' ? 'Прототипы/Демо' : 'Prototype/Demo'}}">
        <app-demo-project></app-demo-project>
    </mat-tab>
</mat-tab-group>

<!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="/project/all">Все проекты</a>
    <a mat-tab-link routerLink="/project/software">Приложения</a>
    <a mat-tab-link routerLink="/project/mobile">Мобильные</a>
    <a mat-tab-link routerLink="/project/game">Мелкие игры</a>
    <a mat-tab-link routerLink="/project/demo">Прототипы/Демо</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel> -->
