<p>game-project works!</p>

<div class="wrap-container">

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>PinBall</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo PinBall">
        <mat-card-content>
            <p>Мини-игра "PinBall"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>Heineken кричи громче</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/heineken-400x300.jpg" alt="Photo Heineken кричи громче">
        <mat-card-content>
            <p>Мини-игра "Heineken кричи громче"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>YellowHeadRun</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/PacManRun1_4-400x300.jpg" alt="Photo YellowHeadRun">
        <mat-card-content>
            <p>Игра платформер-раннер "YellowHeadRun"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

</div>