<!-- <p>Тут пока пусто!</p> -->

<!-- <div id="donate-button-container">
    <div id="donate-button"></div>
    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
    <script>
        alert('staart');
        PayPal.Donation.Button({
            env:'production',
            hosted_button_id:'BQXRXKXV5CHR8',
            image: {
            src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
            alt:'Donate with PayPal button',
            title:'PayPal - The safer, easier way to pay online!',
        }
        }).render('#donate-button');
    </script>
</div> -->
    

 <!-- <p>
    <a href="https://www.paypal.com/donate/?hosted_button_id=AR2LSMUJS3F92" style="color: #ffffff;">Прямая ссылка для пожертвования PayPal</a>
 </p> -->

 <p style="text-align: center;">
    {{languageService.getLanguage() === 'ru' ? 'Пожертвование PayPal:' : 'Donate PayPal:'}}
    <br><br>
    <a href="https://www.paypal.com/donate/?hosted_button_id=AR2LSMUJS3F92" target="_blank">
        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate,Button">
    </a>
 </p>

 <p></p>
 <br><br>

 <p style="text-align: center;" >
    {{languageService.getLanguage() === 'ru' ? 'Пожертвование по QR-коду PayPal:' : 'Donate by QR-code PayPal:'}}
    <br><br>
    <img src="assets/QR_Code_PayPal.png"/>
 </p>