<div class="suggest-page">

    <div class="suggest-software">
        <h1>
            Прикладные/Cистемные приложения
        </h1>
        <p>
            Занимаюсь разработкой программного обеспечения на заказ.
        </p>
    </div>
    
    <div class="suggest-android">
        <h1>
            Мобильные приложения
        </h1>
        <p>
            Занимаюсь разработкой программного обеспечения на заказ.
        </p>
    </div>
    
    <div class="suggest-game">
        <h1>
            Мелкие игры
        </h1>
        <p>
            Занимаюсь разработкой программного обеспечения на заказ.
        </p>
    </div>

</div>

<div class="suggest-page">
    <div class="suggest-web">
        <h1>
            Веб приложения
        </h1>
        <p>
            Занимаюсь разработкой программного обеспечения на заказ.
        </p>
    </div>
</div>

