.suggest-page {
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
}

.suggest-software {
    display: flex;
    flex-direction: column;
}

.suggest-android {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.suggest-game {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.suggest-web {
    width: 32%;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

@media (max-width: 850px) {
    .suggest-page {
        flex-direction: column;
    }

    .suggest-software {
        width: 100%;
    }

    .suggest-android {
        margin-left: 0;
        margin-top: 6%;
    }

    .suggest-game {
        margin-left: 0;
        margin-top: 6%;
    }

    .suggest-web {
        width: 100%;
        margin-left: 0;
        margin-top: 6%;
    }
}
