<div class="suggest-page">

    <div class="suggest-software">
        <h1>
            Прикладные/Cистемные приложения
        </h1>
        <p>
            Занимаюсь разработкой программного обеспечения прикладного и системного уровня.
        </p>
        <p>Стек используемым технологий:</p>
        <ul>
            <li>C/C++; Qt; QML</li>
            <li>C#; Windows Forms</li>
            <li>WinApi; Linux</li>
        </ul>
        <p style="text-align: right;"><button routerLink="/contact" mat-raised-button color="accent">Оставить заявку</button></p>
    </div>
    
    <div class="suggest-android">
        <h1>
            Мобильные приложения
        </h1>
        <p>
            Занимаюсь разработкой мобильных приложений под Android.
        </p>
        <p>Стек используемым технологий:</p>
        <ul>
            <li>Java; Android SDK</li>
            <li>C/C++; Android NDK; Qt; QML</li>
            <li>Ionic; Angular; Capacitor</li>
        </ul>
        <p style="text-align: right;"><button routerLink="/contact" mat-raised-button color="accent">Оставить заявку</button></p>
    </div>
    
    <div class="suggest-game">
        <h1>
            Мелкие игры
        </h1>
        <p>
            Занимаюсь разработкой мелких видео-игр.
        </p>
        <p>Стек используемым технологий:</p>
        <ul>
            <li>OpenGL; Qt; QML</li>
            <li>Unity3D</li>
            <li>Unreal Engine</li>
        </ul>
        <p style="text-align: right;"><button routerLink="/contact" mat-raised-button color="accent">Оставить заявку</button></p>
    </div>

</div>

<div class="suggest-page">
    <div class="suggest-web">
        <h1>
            Веб приложения
        </h1>
        <p>
            Занимаюсь разработкой различной сложности веб-приложений.
        </p>
        <p>Стек используемым технологий:</p>
        <ul>
            <li>Frontend: HTML/CSS; JavaScipt/TypeScript; jQuery; D3.js; Angular; Angular Material; Ionic</li>
            <li>Backend: Node.js; NestJS; PHP</li>
        </ul>
        <p style="text-align: right;"><button routerLink="/contact" mat-raised-button color="accent">Оставить заявку</button></p>
    </div>
</div>

