<mat-sidenav-container fixedInViewport>
  <mat-sidenav #navMenu>
    <mat-nav-list>
      <a mat-list-item routerLink="/about">Обо мне</a>
      <a mat-list-item routerLink="/">Услуги</a>
      <a mat-list-item routerLink="/">Проекты</a>
      <a mat-list-item routerLink="/contact">Контакты</a>
      <a mat-list-item routerLink="/donate">Помощь сайту</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header #header [leftMenu]="navMenu"></app-header>

    <div #mainContent>
      CONTENT

      <router-outlet></router-outlet>

      <app-footer></app-footer>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
