<mat-sidenav-container fixedInViewport>
  <mat-sidenav #navMenu>
    <mat-nav-list>
      <a mat-list-item routerLink="/main" routerLinkActive="mdc-list-item--activated" #activeRouteMain="routerLinkActive" [attr.cdkFocusInitial]="activeRouteMain.isActive?true:undefined">Главная</a>
      <a mat-list-item routerLink="/about" routerLinkActive="mdc-list-item--activated" #activeRouteAbout="routerLinkActive" [attr.cdkFocusInitial]="activeRouteAbout.isActive?true:undefined">Обо мне</a>
      <a mat-list-item routerLink="/suggestion" routerLinkActive="mdc-list-item--activated" #activeRouteProject="routerLinkActive" [attr.cdkFocusInitial]="activeRouteProject.isActive?true:undefined">Услуги</a>
      <a mat-list-item routerLink="/project" routerLinkActive="mdc-list-item--activated" #activeRouteProject="routerLinkActive" [attr.cdkFocusInitial]="activeRouteProject.isActive?true:undefined">Проекты</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="mdc-list-item--activated" #activeRouteContact="routerLinkActive" [attr.cdkFocusInitial]="activeRouteContact.isActive?true:undefined">Контакты</a>
      <a mat-list-item routerLink="/donate" routerLinkActive="mdc-list-item--activated" #activeRouteDonate="routerLinkActive" [attr.cdkFocusInitial]="activeRouteDonate.isActive?true:undefined">Помощь сайту</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header #header [leftMenu]="navMenu"></app-header>

    <div #mainContent class="main-content">
      CONTENT

      <router-outlet></router-outlet>

    </div>
    
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
