<mat-sidenav-container>
  <mat-sidenav #navMenu fixedInViewport="true" fixedTopGap="0">
    <mat-nav-list [ngSwitch]="languageService.getLanguage()">
      <!-- RU -->
      <a mat-list-item routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="mdc-list-item--activated" #activeRouteMain="routerLinkActive" [attr.cdkFocusInitial]="activeRouteMain.isActive?true:undefined" *ngSwitchCase="'ru'">Главная</a>
      <!-- <a mat-list-item routerLink="/about" routerLinkActive="mdc-list-item--activated" #activeRouteAbout="routerLinkActive" [attr.cdkFocusInitial]="activeRouteAbout.isActive?true:undefined">Обо мне</a> -->
      <a mat-list-item routerLink="/suggestion" routerLinkActive="mdc-list-item--activated" #activeRouteSuggestion="routerLinkActive" [attr.cdkFocusInitial]="activeRouteSuggestion.isActive?true:undefined" *ngSwitchCase="'ru'">Навыки</a>
      <a mat-list-item routerLink="/project" routerLinkActive="mdc-list-item--activated" #activeRouteProject="routerLinkActive" [attr.cdkFocusInitial]="activeRouteProject.isActive?true:undefined" *ngSwitchCase="'ru'">Проекты</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="mdc-list-item--activated" #activeRouteContact="routerLinkActive" [attr.cdkFocusInitial]="activeRouteContact.isActive?true:undefined" *ngSwitchCase="'ru'">Контакты</a>
      <a mat-list-item routerLink="/donate" routerLinkActive="mdc-list-item--activated" #activeRouteDonate="routerLinkActive" [attr.cdkFocusInitial]="activeRouteDonate.isActive?true:undefined" *ngSwitchCase="'ru'">Помощь сайту</a>

      <!-- EN -->
      <a mat-list-item routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="mdc-list-item--activated" #activeRouteMain="routerLinkActive" [attr.cdkFocusInitial]="activeRouteMain.isActive?true:undefined" *ngSwitchCase="'en'">Main</a>
      <a mat-list-item routerLink="/suggestion" routerLinkActive="mdc-list-item--activated" #activeRouteSuggestion="routerLinkActive" [attr.cdkFocusInitial]="activeRouteSuggestion.isActive?true:undefined" *ngSwitchCase="'en'">Skills</a>
      <a mat-list-item routerLink="/project" routerLinkActive="mdc-list-item--activated" #activeRouteProject="routerLinkActive" [attr.cdkFocusInitial]="activeRouteProject.isActive?true:undefined" *ngSwitchCase="'en'">Projects</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="mdc-list-item--activated" #activeRouteContact="routerLinkActive" [attr.cdkFocusInitial]="activeRouteContact.isActive?true:undefined" *ngSwitchCase="'en'">Contacts</a>
      <a mat-list-item routerLink="/donate" routerLinkActive="mdc-list-item--activated" #activeRouteDonate="routerLinkActive" [attr.cdkFocusInitial]="activeRouteDonate.isActive?true:undefined" *ngSwitchCase="'en'">Donate</a>  
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header #header [leftMenu]="navMenu"></app-header>

    <div #mainContent class="main-content">
      <router-outlet></router-outlet>
    </div>
    
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
