<div style="width: 100%;">
    <h1 style="text-align: center;">Heineken кричи громче</h1>

    <div style="width: 100%;">
        <ng-image-slider
        [images]="imageObject"
        [imageSize]="{width: '400px', height: '300px', space: 5}"
        [lazyLoading]="true"></ng-image-slider>
    </div>

    <p></p>

    <mat-card>
        <mat-card-header>
            <!-- <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div> -->
            <mat-card-title>Описание проекта</mat-card-title>
            <!-- <mat-card-subtitle>Мелкие игры</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <p>Мини-игра – кто быстрей забьет мяч в ворота, где скорость движения игрока зависит от уровня шума, получаемая от микрофона</p>
        </mat-card-content>
        <!-- <mat-card-actions align="end">
            <button mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions> -->
    </mat-card>

    <p></p>

    <mat-card>
        <mat-card-header>
            <!-- <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div> -->
            <mat-card-title>Используемые технологии и языки программирования</mat-card-title>
            <!-- <mat-card-subtitle>Мелкие игры</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>Qt Framework</li>
                <li>Qml</li>
                <li>JavaScript</li>
                <li>C/C++</li>
            </ul>
        </mat-card-content>
        <!-- <mat-card-actions align="end">
            <button mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions> -->
    </mat-card>

</div>