<div class="wrap-container">

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <mat-card-title>Индикатор настроения event</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/face-mirror/face-mirror-400x300.jpg" alt="Индикатор настроения event">
        <mat-card-content>
            <p>Индикатор настроения event интерактивное приложение</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/face-mirror" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <mat-card-title>Волшебный колодец event</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/face-well/face-well-400x300.jpg" alt="Волшебный колодец event">
        <mat-card-content>
            <p>Волшебный колодец event интерактивное приложение</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/face-well" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <mat-card-title>AiArt создание изображения</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/ai_art/main-400x300.png" alt="AiArt создание изображения">
        <mat-card-content>
            <p>Клиент-серверное приложение, для создания AI изображения из наброска</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/ai-art" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>PinBall</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/pin-ball2-400x300.png" alt="Photo PinBall">
        <mat-card-content>
            <p>Мини-игра "PinBall"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/pinball" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>Heineken кричи громче</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/heineken1-400x300.jpg" alt="Photo Heineken кричи громче">
        <mat-card-content>
            <p>Мини-игра "Heineken кричи громче"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/heineken" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>YellowHeadRun</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/PacManRun1_4-400x300.jpg" alt="Photo YellowHeadRun">
        <mat-card-content>
            <p>Игра платформер-раннер "YellowHeadRun"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/yellowheadrun" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <mat-card-title>МТБанк 30 лет event</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/mtbank30_1-400x300.png" alt="МТБанк 30 лет event">
        <mat-card-content>
            <p>МТБанк 30 лет event простое интерактивное приложение</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/mtbank30" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <mat-card-title>FaceDetect фотобутка</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/facedetect1-400x300.png" alt="Photo FaceDetect фотобутка">
        <mat-card-content>
            <p>Windows приложение "FaceDetect" для фотобутки, распознание лица и эмоций</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/facedetect" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <mat-card-title>NeuroBartender</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/neurobartender1-400x300.png" alt="Photo NeuroBartender">
        <mat-card-content>
            <p>Windows приложение "NeuroBartender" для нейроинтерфейсов NeuroSky MindWave</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/neurobartender" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>phone_android</mat-icon>
            </div>
            <mat-card-title>Дневник пациента</mat-card-title>
            <mat-card-subtitle>Мобильные</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Cardio1-400x300.jpg" alt="Photo Дневник пациента">
        <mat-card-content>
            <p>Android приложение "Дневник пациента"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/cardio" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>phone_android</mat-icon>
            </div>
            <mat-card-title>Город внутри</mat-card-title>
            <mat-card-subtitle>Мобильные</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/mergecamera1-400x300.jpg" alt="Photo Город внутри">
        <mat-card-content>
            <p>Android приложение "Город внутри"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/mergecamera" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>
    
    
    <!-- <mat-card class="card-project">
        <mat-card-content>Simple card</mat-card-content>
    </mat-card> -->

</div>
