<p>all-project works!</p>

<div class="wrap-container">

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>PinBall</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo PinBall">
        <mat-card-content>
            <p>Мини-игра – PinBall</p>
            <!-- <iframe width="400" height="320" src="https://www.youtube.com/embed/7I88jaWgzfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>ПОДРОБНЕЕ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>Heineken кричи громче</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/heineken1-400x300.jpg" alt="Photo Heineken кричи громче">
        <mat-card-content>
            <p>Мини-игра – кто быстрей забьет мяч в ворота, где скорость движения игрока зависит от уровня шума, получаемая от микрофона</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent">ПОДРОБНЕЕ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>FaceDetect фотобутка</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/facedetect-400x300.jpg" alt="Photo FaceDetect фотобутка">
        <mat-card-content>
            <p>Программное обеспечение разработанное на C#, OpenCV, Azure Face API</p>
            <!-- <p>Функциональные возможности:</p>
            <ul>
                <li>Распознание лица в реальном времени</li>
                <li>RunTime preview c камеры(поддержка Web-камер и фотоаппаратов серии Canon)</li>
                <li>Распознание эмоций по найденному лицу и вывод на экран(например гнев, презрение, отвращение, страх, счастье, нейтральное выражение, грусть и удивление)</li>
                <li>Печать фото на принтер с предсказанием(предсказание генерируется исходя из базы данных по эмоциональному окрасу лица распознанного человека)</li>
            </ul> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>ПОДРОБНЕЕ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
            </div>
            <mat-card-title>NeuroBartender</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo NeuroBartender">
        <mat-card-content>
            <p>Тестирование 2-ух подключенных нейроинтерфейсов NeuroSky MindWave</p>
            <!-- <iframe width="400" height="320" src="https://www.youtube.com/embed/SkVf58iY6Hk" title="NeuroBartender" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>ПОДРОБНЕЕ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>devices_other</mat-icon>
            </div>
            <mat-card-title>Unity3D Kenict</mat-card-title>
            <mat-card-subtitle>Прототипы/Демо</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo Unity3D Kenict">
        <mat-card-content>
            <p>Unity3D Kenict</p>
            <!-- <iframe width="400" height="320" src="https://www.youtube.com/embed/AvWztGbE8D8" title="Unity3D Kenict" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>ПОДРОБНЕЕ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>mobile_friendly</mat-icon>
            </div>
            <mat-card-title>Дневник пациента</mat-card-title>
            <mat-card-subtitle>Мобильные</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Cardio1-400x300.jpg" alt="Photo Дневник пациента">
        <mat-card-content>
            <p>Разработанное под заказ Android приложение для самостоятельно контроля показателями своего здоровья</p>
            <!-- <p>Основные возможности:</p>
            <ul>
                <li>Внесение данных о результате измерения артериального давления</li>
                <li>Внесение данных о результате измерения пульса</li>
                <li>Внесение данных о результате измерения массы тела</li>
                <li>Внесение данных о результате измерения количества потребленной и выделенной жидкости</li>
                <li>Отображение внесенных данных об артериальном давлении в динамике, в виде графика</li>
                <li>Отображение внесенных данных о пульсе в динамике, в виде графика</li>
                <li>Отображение внесенных данных о массе тела в динамике, в виде графика</li>
                <li>Отображение внесенных данных о количестве потребленной и выделенной жидкости, в виде графика</li>
                <li>Отправка на электронную почту информации о всех измеренных показателях здоровья</li>
                <li>Создание каждодневного напоминания о приёме лекарств и их количестве</li>
            </ul> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>ПОДРОБНЕЕ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>mobile_friendly</mat-icon>
            </div>
            <mat-card-title>Город внутри</mat-card-title>
            <mat-card-subtitle>Мобильные</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/mergecamera1-400x300.jpg" alt="Photo Город внутри">
        <mat-card-content>
            <p>Разработанное под заказ Android приложение, специально для смартфонов Huawei P10 и Huawei P10 Plus</p>
            <!-- <p>Основная функция приложения смешивание двух картинок в одну, выделяя необходимую область и меняя степень прозрачности, тем самым создавая творческие, красивые фотографии</p>
            <p>Есть возможность использовать две существующие картинки, либо сделать фото используя камеру</p> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>ПОДРОБНЕЕ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>videogame_asset</mat-icon>
            </div>
            <mat-card-title>YellowHeadRun</mat-card-title>
            <mat-card-subtitle>Мелкие игры</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/PacManRun1_4-400x300.jpg" alt="Photo YellowHeadRun">
        <mat-card-content>
            <p>YellowHeadRun</p>
            <!-- <iframe width="400" height="320" src="https://www.youtube.com/embed/971NnC0FKk0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>ПОДРОБНЕЕ</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    
    
    <!-- <mat-card class="card-project">
        <mat-card-content>Simple card</mat-card-content>
    </mat-card> -->

</div>
