<div class="wrap-container">

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>phone_android</mat-icon>
            </div>
            <mat-card-title>Дневник пациента</mat-card-title>
            <mat-card-subtitle>Мобильные</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/Cardio1-400x300.jpg" alt="Photo Дневник пациента">
        <mat-card-content>
            <p>Android приложение "Дневник пациента"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/cardio" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>phone_android</mat-icon>
            </div>
            <mat-card-title>Город внутри</mat-card-title>
            <mat-card-subtitle>Мобильные</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/mergecamera1-400x300.jpg" alt="Photo Город внутри">
        <mat-card-content>
            <p>Android приложение "Город внутри"</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button routerLink="/project/mergecamera" mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

</div>