<p>software-project works!</p>

<div class="wrap-container">

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <mat-card-title>FaceDetect фотобутка</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/facedetect-400x300.jpg" alt="Photo FaceDetect фотобутка">
        <mat-card-content>
            <p>Windows приложение "FaceDetect" для фотобутки</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-project">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <mat-card-title>NeuroBartender</mat-card-title>
            <mat-card-subtitle>Приложения</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo NeuroBartender">
        <mat-card-content>
            <p>Windows приложение "NeuroBartender" для нейроинтерфейсов NeuroSky MindWave</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="accent">ПОДРОБНЕЕ</button>
        </mat-card-actions>
    </mat-card>

</div>