/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//#20202a

app-tab-project {
    max-width: 100%;
}

app-contact-page {
    width: 100%;
}

//fix bug
.close-outside {
    z-index: -1;
}