<div class="suggest-page">

    <div class="suggest-software">
        <h1>
            Прикладное/Cистемное программного обеспечение
        </h1>
        <!-- <h1>High quality</h1> -->
        <p>
            Занимаюсь разработкой программного обеспечения на заказ.
        </p>
    </div>
    
    <div class="suggest-android">
        <h1>
            Android приложения
        </h1>
        <!-- <h1>Versatile</h1> -->
        <p>
            Занимаюсь разработкой программного обеспечения на заказ.
        </p>
    </div>
    
    <div class="suggest-web">
        <h1>
            Веб сайты
        </h1>
        <!-- <h1>Frictionless</h1> -->
        <p>
            Занимаюсь разработкой программного обеспечения на заказ.
        </p>
    </div>

</div>

